:root {
    --principle-blue: #0080FF;
    --dark-blue: #001326;
    --light-blue: #B3D9FF;
    --principle-orange: #F8941F;
    --principle-orange-transparent: #F8941F70;
    --dark-orange: #1F1204;
    --dark-orange-transparent: #1F120470;
    --light-orange: #F7E6D2;
    --light-orange-transparent: #F7E6D240;
    --light-blue-transparent: #B3D9FF40;
}

html, body {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    width: 100%;
    height: 100%;
}
a {
    color: white;
}
#content {
    width: 100%;
    height: 100%;
    
}

.warning {
    text-align: center;
    color: var(--principle-orange) !important;
    border: 2px solid var(--principle-orange) !important;
    margin: 0 15%;
    padding: .5rem;
    border-radius: .5rem;
}


