<div id="login">
<form method="post">

    {% if user_exists %}
        <p class="warning">Account with email already exists</p>
    {% endif %}
    <label for="username">Email</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <button formaction={% url 'authenticate_user' %}>Log In</button>
   {% csrf_token %}
</form>
<div style="margin-top: 1em; text-align: center">
    <span>New User? <a href={% url 'new_user' %}>Sign Up</a>!</span>
</div>
</div>