{% extends 'blocks/base.html' %}
{% load static %}
{% block title %}Pyrismus{% endblock title %}
{% block css %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/login.css' %}">
<style>
    html, body {
        overflow: hidden;
    }

    .app_icon {
        height: 5rem
    }

</style>
{% endblock css %}
{% block content %}
<div>
    <div class="dropdown">
        <div><img src="{% static 'icons/person-icon.svg' %}" class="person_icon"/></div>
        <div class="dropdown-content">
            <p>{{ username }}</p>
            <p><a href={% url 'logout' %}>logout</a></p>
        </div>
    </div>
    <div class="app_icon_div">
        <div><img src="{% static 'icons/schwa-icon.svg' %}" class="app_icon"/></div>
        <div>Schwa</div>
    </div>
</div>
{% endblock content %}